extends ./layouts/default

block title
  title Koa Douban 首页

block content
  .container
    .row
      .col-md-8
        h1 Hi #{you}
        p This is #{me}
      .col-md-4
        h3 测试动态 Pug 模板引擎的例子
